<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>


      <!-- Section -->
        <section>
          <header class="major">
            <h2>联系我们</h2>
          </header>
          <p>如果确有需要，可以通过以下方式联系到我~（当然，如果有什么问题也欢迎提出指正啦~感谢大家！）</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.zip_code }},{{ site.city }}, {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
        	<p class="copyright">&copy; CUG小坏坏 2017-2019<br/>Clover all rights reserved.<br/>
		  	<a herf="http://www.miitbeian.gov.cn">鄂ICP备18030609号-1</a> <br/>
		  	<a herf="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102003010">鄂公网安备 42011102003010号</a>
		</p>
        </footer>
		 	
    </div>
  </div>
